<body>

	<section>

		<button [routerLink]="['..', 'chat']" type="button" class="goBack btn btn-success btn-lg"><i
			class="bi bi-sign-turn-left-fill"></i> Go back</button>

		<form [formGroup]="form" (ngSubmit)="create()">

			<h3>Create room</h3>

			<mat-form-field>
				<input type="text" matInput placeholder="Name" formControlName="name">
				<mat-error *ngIf="name.touched && name.hasError('required')">Name is required</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input type="text" matInput placeholder="Description" formControlName="description">
			</mat-form-field>

			<mat-form-field>
				<mat-label>Select an option</mat-label>
				<mat-select matInput formControlName="type">
					<mat-option>None</mat-option>
					<mat-option value="public">Public</mat-option>
					<mat-option value="private">Private</mat-option>
				</mat-select>
			</mat-form-field>

			<app-select-users [users]="users.value" (addUser)="addUser(initUser($event))"
				(removeuser)="removeUser($event.id)"></app-select-users>

			<mat-hint *ngIf="!form.valid"><small class="red">Please fill out all required information</small></mat-hint>

			<div class="button">
				<button class="create" type="submit" [disabled]="!form.valid">Create Chatroom</button>
			</div>

		</form>
	</section>

	<body>
