<body>
    <section>
        <div class="_container">
            <div class="card">
                <div class="content">
                    <div *ngIf="user; else noUser">
                        <div class="imgBx">
                            <img [src]="user?.avatar">
                        </div>
                        <h3>{{ user.username }}</h3>
                        <h2>Score: <span>{{ user.score }}</span></h2>
                        <h2>Wins: <span>{{ user.wins }}</span></h2>
                        <h2>Losses: <span>{{ user.losses }}</span></h2>
                        <div *ngIf="isFriend; else notFriend">
                            <h2>Activity Status: <span>{{ user.activityStatus }}</span></h2>
                            <button class="fight_button" (click)="fightAgainstUser();">⚔️ Invite to game ⚔️</button>
                        </div>
                        <ng-template #notFriend>
                            <ng-container
                                *ngIf="friendRequestStatus === 'waiting-for-current-user-response' && !responseClicked">
                                <button (click)="responseToFriendRequest(friendRequestId, 'accepted')"
                                    class="button button-primary">Accept</button>
                                <button (click)="responseToFriendRequest(friendRequestId, 'declined')"
                                    class="button button-warn">Decline</button>
                            </ng-container>

                            <ng-container *ngIf="['not-sent', 'pending'].includes(friendRequestStatus)">
                                <button (click)="addUser()" class="button button-primary"
                                    [disabled]="friendRequestStatus === 'pending'">Send Request</button>
                            </ng-container>
                        </ng-template>
                    </div>

                    <ng-template #noUser>
                        <p>User not found</p>
                    </ng-template>
                </div>
            </div>
        </div>
        <button [routerLink]='["../../players"]' type="button" class="goBack btn btn-success btn-lg"><i
            class="bi bi-sign-turn-left-fill"></i> Go back</button>
    </section>
</body>
