<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form [formGroup]="form" (ngSubmit)="twoFactorRequired ? verifyTwoFactorCode() : login()">

        <h3>Login Here</h3>



        <!-- Email Field -->
        <mat-form-field class="inputc" *ngIf="!twoFactorRequired">
            <input type="email" autocomplete="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field class="inputc"  *ngIf="!twoFactorRequired">
            <input type="password" autocomplete="current-password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
        </mat-form-field>

        <!-- 2FA Field -->
        <mat-form-field class="inputc" *ngIf="twoFactorRequired">
            <input type="text" matInput placeholder="2FA Code" formControlName="twoFactorAuthCode">
            <mat-error *ngIf="twoFactorAuthCode.touched && twoFactorAuthCode.invalid">2FA Code is required</mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button class="login" type="submit" [disabled]="!form.valid || (twoFactorRequired && !twoFactorAuthCode.valid)">
            {{ twoFactorRequired ? 'Verify 2FA Code' : 'Login' }}
        </button>

        <button (click)="loginWithFortyTwo()" class="login">Login with 42</button>
        <button [routerLink]='["../register"]' class="register">Go to Register</button>

        <mat-hint class="hint" ><small *ngIf="!form.valid">Please fill out all required fields</small>{{errorMessage}}</mat-hint>
    </form>
</body>
