<body>
  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>

  <form>

      <h3>Two Factor Verification</h3>

      <mat-form-field class="inputc">
        <input matInput [(ngModel)]="verificationCode" placeholder="6-digit code" maxlength="6" pattern="^[0-9]{6}$">
        <mat-error *ngIf="!isCodeValid()">Code must be 6 digits</mat-error>
      </mat-form-field>

      <button (click)="verify2fa()" class="varify">Verify</button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

  </form>
</body>
