<div class="c">
	<button [disabled]="playerIsInQueue" class="play" style="--clr:#eb9854" (click)="joinQueqe();"><span>Play game</span><i></i></button>
	<br>
	<h2 *ngIf="playerIsInQueue">Waiting players: <span class="number">{{playersWaiting}}</span></h2>
	<button *ngIf="playerIsInQueue" class="cancel-btn" (click)="leaveQueqe()"> <i class="bi bi-x-octagon-fill"></i> Cancel</button>

	<button [routerLink]='["../navigation"]' type="button" class="goBack btn btn-success btn-lg"><i class="bi bi-sign-turn-left-fill"></i> Go back</button>
</div>

