* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

h2 {
	margin-top: 10px;
	color: #a8f9ff;
}

.c {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 1;
	justify-content: center;
	min-height: 100vh;
	background: #4e4b5c;
}

.play {
	position: relative;
	background: #eb9854;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1rem 3rem;
	transition: 0.2s;
}

.play:hover:enabled {
	letter-spacing: 0.2rem;
	padding: 1.1rem 3.1rem;
	background: var(--clr);
	color: var(--clr);
	box-shadow: 0 0 35px var(--clr);
	animation: box 3s infinite;
}

.play::before {
	content: "";
	position: absolute;
	inset: 2px;
	background: #272822;
}

.play span {
	position: relative;
	z-index: 1;
}
.play i {
	position: absolute;
	inset: 0;
	display: block;
}
.number{
	color: #3f84e5;
}

.play i::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	left: 80%;
	top: -2px;
	border: 2px solid var(--clr);
	background: #272822;
	transition: 0.2s;
}

.play:disabled i::before {
	border: 2px solid green;
}
.play:disabled i::after {
	border: 2px solid green;
}

.play:disabled span {
	color: green;
}

.play:hover:enabled span{
	color: #eb9854;
}

.cancel-btn
{
	background-color: rgb(235, 148, 34);
	padding: 7px;
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
	font-size: medium;
	font-weight: 700;
	border: rgb(235, 64, 34) 3px dashed;
}

.cancel-btn:hover
{
	background-color: rgb(235, 64, 34);
}

.goBack{
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 4px;
	font-weight: 500;
	color: white;
	background: linear-gradient(20deg, #eb9854, #f0a669);
}

.play:hover:enabled i::before {
	width: 15px;
	left: 20%;
	animation: move 3s infinite;
}

.game-type{
	color: #eb9854;
}
.play:disabled {
	background-color: green;
}

.play i::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 2px;
	left: 20%;
	bottom: -2px;
	border: 2px solid var(--clr);
	background: #272822;
	transition: 0.2s;
}

.play:hover:enabled i::after {
	width: 15px;
	left: 80%;
	animation: move 3s infinite;
}

@keyframes move {
0% {
	transform: translateX(0);
}
50% {
	transform: translateX(5px);
}
100% {
	transform: translateX(0);
}
}

@keyframes box {
0% {
	box-shadow: #27272c;
}
50% {
	box-shadow: 0 0 25px var(--clr);
}
100% {
	box-shadow: #27272c;
}
}
