<body>
	<section>
		<mat-card>
			<mat-card-content>
				<div class="profile-header">
					<div class="avatar-container">
						<img class="avatar" [src]="user?.avatar" alt="User Avatar">
					</div>
					<div class="username-container">
						<h1 class="username">{{ user?.username }}</h1>
					</div>
				</div>
				<div class="button-container">
					<button mat-raised-button color="primary" (click)="toggleChangeUsernameForm()">
						Change Username</button>
				</div>
				<div class="button-container">
					<div *ngIf="showChangeUsernamePrompt">
						<form [formGroup]="changeUsernameForm" (ngSubmit)="changeUsername()">
							<mat-form-field>
								<input type="text" matInput placeholder="New username" formControlName="newUsername">
								<mat-error *ngIf="newUsername.touched && newUsername.hasError('required')">Select new
									username</mat-error>
							</mat-form-field>
							<div class="button">
								<button mat-raised-button type="submit" [disabled]="!changeUsernameForm.valid">Change
									Username</button>
							</div>
						</form>
					</div>
				</div>
				<div class="button-container">
					<button mat-raised-button color="primary" (click)="changeAvatar()">Upload File & Change
						Avatar</button>
				</div>
				<div class="button-container">
					<input *ngIf="showFileInput" type="file" accept="image/png" (change)="onFileSelected($event)"
						#fileInput>
				</div>
				<div *ngIf="!is2faEnabled" class="button-container">
					<button mat-raised-button color="primary" [routerLink]="['../2fa-setup']">Enable 2FA</button>
				</div>
				<div *ngIf="is2faEnabled" class="button-container">
					<button mat-raised-button color="primary" [routerLink]="['../2fa-setup']">Disable 2FA</button>
				</div>
				<div class="button-container">
					<button mat-raised-button color="primary" [routerLink]="['../history', user?.id]">
						Match History</button>
				</div>
				<div class="button-container">
					<button mat-raised-button color="primary" [routerLink]="['../user-profile']">
						Pending Friend Requests</button>
				</div>
			</mat-card-content>
		</mat-card>
		<button [routerLink]='["../navigation"]' type="button" class="goBack btn btn-success btn-lg"><i
				class="bi bi-sign-turn-left-fill"></i> Go Back</button>
	</section>
</body>