<body>
    <section>
        <div class="_container">
            <div *ngIf="friendRequests && friendRequests.length > 0">
                <h1>Pending Friend Requests</h1>
                <div class="card" *ngFor="let request of friendRequests" [routerLink]="['.', request.creator.id]">
                    <div class="content">
                        <div class="imgBx">
                            <img [src]="request.creator.avatar">
                        </div>
                        <div class="contentBx">
                            <h3>{{ request.creator.username }}<br><span>Score: {{ request.creator.score }}</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li>
                            <a [routerLink]='["../history", request.creator.id]'><i class="bi bi-floppy2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="!friendRequests || friendRequests.length === 0">
                <h1>No pending requests</h1>
            </div>
        </div>
        <button [routerLink]='["../user-settings"]' type="button" class="goBack btn btn-success btn-lg"><i
            class="bi bi-sign-turn-left-fill"></i>Go Back</button>
    </section>
</body>