<body>
    <section>
        <div class="top-container">
            <span class="title">Show Friends</span>
            <label class="switch" id="toggleSwitch">
                <input type="checkbox" [(ngModel)]="loadFriendsMode" (change)="onToggleSwitchChange()">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="containera">
            <div class="card" *ngFor="let user of paginatedUsers"
                [ngClass]="{ 'current-user-card': isCurrentUser(user) }" [routerLink]="['../user-profile/', user.id]">
                <div class="content">
                    <div class="imgBx">
                        <img [src]="user?.avatar">
                    </div>
                    <div class="contentBx">
                        <h3>{{ user.username }}<br><span>Score: {{user.score}}</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a [routerLink]='["../history", user.id]'><i class="bi bi-floppy2"></i></a>
                    </li>
                    <li *ngIf="isCurrentUser(user)">
                        <a [routerLink]='["../user-settings"]'><i class="bi bi-person-circle"></i></a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="pagination-controls">
            <button class="previous" (click)="goToPreviousPage()" type="button"
                [disabled]="!isPreviousPageAvailable()">Previous</button>
            <button class="next" (click)="goToNextPage()" type="button"
                [disabled]="!isNextPageAvailable()">Next</button>
        </div>
        <button [routerLink]='["../navigation"]' type="button" class="goBack btn btn-success btn-lg"><i
                class="bi bi-sign-turn-left-fill"></i> Go back</button><br>
    </section>
</body>