<body>
    <section>
        <div class="container">
            <div class="card" *ngFor="let user of users" [routerLink]="['..', user.id]">
                <div class="content">
                    <div class="imgBx">
                        <img
                            src="https://cdn.vox-cdn.com/thumbor/Si2spWe-6jYnWh8roDPVRV7izC4=/0x0:1192x795/1400x788/filters:focal(596x398:597x399)/cdn.vox-cdn.com/uploads/chorus_asset/file/22312759/rickroll_4k.jpg">
                    </div>
                    <div class="contentBx">
                        <h3>{{ user.username }}<br><span>Score: {{user.score}}</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a [routerLink]='["../history", user.id]'><i class="bi bi-floppy2"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pagination-controls">
            <button (click)="goToPreviousPage()" type="button">Previous</button>
            <button (click)="goToNextPage()" type="button">Next</button>
          </div>
        <button [routerLink]='["../navigation"]' type="button" class="goBack btn btn-success btn-lg"><i
                class="bi bi-sign-turn-left-fill"></i> Go back</button>
    </section>
</body>
