<mat-list class="c">
  <mat-list-item class="user-item" *ngFor="let user of users">

    <div class="user">

      {{user.username}}

      <div class="buttons">
        <button mat-icon-button (click)="toggleUserBlock(user.id)">
          <mat-icon class="block-user" [ngStyle]="{'color': userBlockedToggles[user.id] ? 'red' : 'white'}">block</mat-icon>
        </button>

        <button mat-icon-button (click)="createPrivateChat(user.username)">
          <mat-icon class="start-dm" [ngStyle]="{'color': 'white'}" >mail_outline</mat-icon>
        </button>
      </div>

    </div>
  </mat-list-item>
</mat-list>
