body {
  background: inherit;
  height: 91%;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.user-item {
  color: white;
}

.c {
  height: 100%;
}

.user {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.name {
  overflow: hidden;
}