<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form [formGroup]="form" (ngSubmit)="register()">

        <h3>Register Here</h3>



        <mat-form-field class="inputc">
			<input type="email" autocomplete="email" matInput placeholder="Email" formControlName="email">
			<mat-error *ngIf ="email.touched && email.hasError('required')">Email is required</mat-error>
			<mat-error *ngIf ="email.touched && email.hasError('email')">Email must be valid</mat-error>
		</mat-form-field>

		<mat-form-field class="inputc">
			<input type="text" autocomplete="username" matInput placeholder="Username" formControlName="username">
			<mat-error *ngIf ="username.touched && username.hasError('required')">Username is required</mat-error>
		</mat-form-field>

		<mat-form-field class="inputc">
			<input type="password" autocomplete="new-password" matInput placeholder="Password" formControlName="password">
			<mat-error *ngIf ="password.touched && password.hasError('required')">Password is required</mat-error>
		</mat-form-field>

		<mat-form-field class="inputc">
			<input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
			<mat-error *ngIf ="passwordConfirm.touched && form.hasError('passwordsNotMatching')">Passwords not matching</mat-error>
		</mat-form-field>

		<button class="register" type="submit" [disabled]="!form.valid">Register</button>
		<button [routerLink]='["../login"]' class="login">Go to Login</button>


		<mat-hint *ngIf="!form.valid" class="hint"><small>Please fill out all required information</small></mat-hint>

    </form>
</body>
