.ownContainer {
	justify-content: flex-end;
}

.ownMessage {
	text-align: right !important;
	background-color: #00A8E8;
}

p{
	background-color: #02729e;
	padding: 4px;
	border-radius: 5px;
	font-size: 19px;
	text-align: left;
}

em {
	color: gray;
}

.message:hover .author{
	animation-delay: 2s;
	display: block;
}

.author{
	display: none;
	transition: all 0.3s;
}

.message{
	display: flex;
}

.m{
	background-color: rgb(186, 46, 72);
	vertical-align: middle;
	padding: 20px;
	border-radius: 20px;
	min-width: 100px;
}
