<div class="c">
	<div class="a" *ngIf="chatRoom; else no_chatroom_selected">
		<div *ngIf="isRoomProtected && !passwordValidated">
			<form [formGroup]="passwordPrompt" (ngSubmit)="checkChatPassword()">
				<div class="form-cont">
					<mat-form-field>
						<input type="password" matInput placeholder="Enter password for chatroom"
							formControlName="passwordValidation">
						<mat-error *ngIf="password.touched && password.hasError('required')">Password is
							required</mat-error>
					</mat-form-field>

					<mat-hint *ngIf="!passwordPrompt.valid"><small>Please enter chatroom password</small></mat-hint>

					<div class="button">
						<button mat-raised-button type="submit" [disabled]="!passwordPrompt.valid">Enter password</button>
					</div>
				</div>
			</form>
		</div>

		<div class="g" *ngIf="(!isRoomProtected || passwordValidated)">
			<div class="top-bar">
				<div class="information">
					<div class="inf-left">
						<span class="title">{{chatRoom.name}}</span>
						<span>{{chatRoom.type}}</span>
						<span class="description">{{ chatRoom.description }}</span>
					</div>
					<div class="inf-right">
						<mat-icon>event</mat-icon>
						<p style="margin-left: 10px;">
							{{chatRoom.updated_at | date}}
						</p>
					</div>
				</div>
				<div class="buttons">
					<div *ngFor="let user of chatRoomUsers">
						<button mat-raised-button class="username">
							<span (click)="toggleRoomAdmin(user.id)"
								[ngStyle]="{ 'cursor': 'pointer', 'color': userAdminToggles[user.id] ? 'green' : 'red' }">
								<span *ngIf="userAdminToggles[user.id]">[ADMIN 🤠]</span>
								💃 {{ user.username }} 🕺
							</span>
						</button>
						<button mat-raised-button>
							<span (click)="toggleUserMute(user.id)" [ngStyle]="{ 'cursor': 'pointer' }">
								<span *ngIf="userMuteToggles[user.id]">🔇</span>
								<span *ngIf="!userMuteToggles[user.id]">🗣️</span>
							</span>
						</button>
						<button mat-raised-button>
							<span (click)="kickUser(user.id)" [ngStyle]="{ 'cursor': 'pointer' }">
								<span>🥾</span>
							</span>
						</button>
						<!-- <button mat-raised-button> -->
						<button>
							<span (click)="banUser(user.id)" [ngStyle]="{ 'cursor': 'pointer' }">
								<span>🚫</span>
							</span>
						</button>
					</div>
				</div>
			</div>

			<div *ngIf="isRoomPrivate && isOwner">
				<button mat-raised-button (click)="toggleSetPasswordForm()">Set password for chat</button>
			</div>

			<div *ngIf="showSetPasswordForm">
				<form [formGroup]="setPasswordForm" (ngSubmit)="setChatPassword()">
					<div class="form-cont">

						<div class="inputs">

							<mat-form-field>
								<input type="password" matInput placeholder="Password" formControlName="password">
							</mat-form-field>

							<mat-form-field>
								<input type="password" matInput placeholder="Password Confirmation"
									formControlName="passwordConfirm">
							</mat-form-field>
						</div>

						<mat-hint *ngIf="!setPasswordForm.valid"><small>Please set password
								correctly</small></mat-hint>

						<div class="button">
							<button mat-raised-button type="submit" [disabled]="!setPasswordForm.valid">Set chat
								password</button>
						</div>
					</div>
				</form>
			</div>

			<div *ngIf="isRoomProtected && isOwner" class="optionButton">
				<button mat-raised-button (click)="toggleChangePasswordForm()" style="margin: 5px">Change chat
					password</button><br>
				<button mat-raised-button (click)="removeChatPassword()" style="margin: 5px">Remove chat
					password</button>
			</div>

			<div *ngIf="showChangePasswordForm">

				<form [formGroup]="changePasswordForm" (ngSubmit)="changeChatPassword()">
					<div class="form-cont">
						<mat-form-field>
							<input type="password" matInput placeholder="New password"
								formControlName="password">
							<mat-error *ngIf="password.touched && password.hasError('required')">Password is
								required</mat-error>
						</mat-form-field>

						<mat-form-field>
							<input type="password" matInput placeholder="New Password Confirmation"
								formControlName="passwordConfirm">
							<mat-error
								*ngIf="passwordConfirm.touched && changePasswordForm.hasError('passwordsNotMatching')">Passwords
								not matching</mat-error>
						</mat-form-field>

						<mat-hint *ngIf="!changePasswordForm.valid"><small>Please set password
								correctly</small></mat-hint>

						<div class="button">
							<button mat-raised-button type="submit" [disabled]="!changePasswordForm.valid">Change
								password</button>
						</div>
					</div>
				</form>
			</div>

			<div #messages class="message message-container">
				<span *ngFor="let message of (messagesPaginate$ | async)?.items">
					<app-chat-message [message]="message"></app-chat-message>
				</span>
			</div>

			<div class="send" *ngIf="userInRoom()">
				<mat-form-field [style.width.%]=40>
					<input matInput [formControl]="chatMessage" type="text" (keyup.enter)="sendMessage()">
				</mat-form-field>
				<button mat-button [disabled]="!chatMessage.valid || !chatMessage.value || userMuteToggles[user.id]"
					(click)="sendMessage()">
					<span class="btn-send">
						<mat-icon>send</mat-icon>
						<p>Send</p>
					</span>
				</button>
			</div>

			<div *ngIf="!userInRoom() && !chatRoom.bannedUsers.includes(user.id)" class="mb-3">
				<button mat-raised-button (click)="joinChatRoom()">Join Chatroom</button>
			</div>

		</div>
	</div>
	<ng-template #no_chatroom_selected>
		<mat-error>No Chatroom Selected</mat-error>
	</ng-template>
</div>
