h3 {
	padding: 0px;
	padding-top: -10px;
	margin: 0px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: aliceblue;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: aliceblue;
}

.message-container {
	max-height: 380px;
	overflow-y: auto;
}

.optionButton {
	display: flex;
	justify-content: flex-end;
	margin: 16px;
} 