<div *ngIf="chatRoom; else no_chatroom_selected">
	<!-- this is for chatroom pswd validation window -->
    <div *ngIf="isRoomProtected && !passwordValidated">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="passwordPrompt" (ngSubmit)="checkChatPassword()">
                    <mat-form-field>
                        <input type="password" matInput placeholder="Enter password for chatroom" formControlName="passwordValidation">
                        <mat-error *ngIf ="password.touched && password.hasError('required')">Password is required</mat-error>
                    </mat-form-field>

                    <mat-hint *ngIf="!passwordPrompt.valid"><small>Please enter chatroom password</small></mat-hint>
            
                    <div class="button">
                        <button mat-button type="submit" [disabled]="!passwordPrompt.valid">Enter password</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
<!-- contents of the room will only show when room is not protected or when pswd was validated -->
	<div *ngIf="(!isRoomProtected || passwordValidated)">
		<div style="height: 125px;">
			<span style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
				<h2>{{chatRoom.name}}</h2>
				<h4>{{chatRoom.type}}</h4>
				<span style="display: flex; flex-direction: row; align-items: center;">
					<mat-icon>event</mat-icon>
					<p style="margin-left: 10px;">
						{{chatRoom.updated_at | date}}
					</p>
				</span>
			</span>
			<span>
				<h3 style="color: grey;">{{ chatRoom.description }}</h3>
				<span *ngFor="let user of chatRoomUsers">
					<span
					(click)="toggleRoomAdmin(user.id)"
					[ngStyle]="{ 'cursor': 'pointer', 'color': userAdminToggles[user.id] ? 'green' : 'red' }"
					>
					<span *ngIf="userAdminToggles[user.id]">[ADMIN 🤠]</span>
					💃 {{ user.username }} 🕺
				</span>
			</span>
		</span>
		<div class="optionButton">
			<button mat-button color="warn"(click)="leaveChat()">Leave this chatroom</button>
		</div>
	</div>
	
		<!-- button for setting password that will trigger below section to appear -->
		<div *ngIf="isRoomPrivate && isOwner" class="optionButton">
			<button mat-raised-button (click)="toggleSetPasswordForm()">Set password for chat</button>
		</div>
		
		<div *ngIf="showSetPasswordForm">
			<mat-card>			
				<mat-card-content>
					<form [formGroup]="setPasswordForm" (ngSubmit)="setChatPassword()">
						<mat-form-field>
							<input type="password" matInput placeholder="Password" formControlName="password">
							<mat-error *ngIf ="password.touched && password.hasError('required')">Password is required</mat-error>
						</mat-form-field>
						
						<mat-form-field>
							<input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
							<mat-error *ngIf ="passwordConfirm.touched && setPasswordForm.hasError('passwordsNotMatching')">Passwords not matching</mat-error>
						</mat-form-field>
						
						<mat-hint *ngIf="!setPasswordForm.valid"><small>Please set password correctly</small></mat-hint>
						
						<div class="button">
							<button mat-button type="submit" [disabled]="!setPasswordForm.valid">Set chat password</button>
						</div>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
		
<!-- button for changing password -->
		<div *ngIf="isRoomProtected && isOwner" class="optionButton">
			<button mat-button (click)="toggleChangePasswordForm()">Change chat password</button>
			<button mat-button (click)="removeChatPassword()">Remove chat password</button>
		</div>
		
		<div *ngIf="showChangePasswordForm">
			<mat-card>			
				<mat-card-content>
					<form [formGroup]="changePasswordForm" (ngSubmit)="changeChatPassword()">
						<mat-form-field>
							<input type="password" matInput placeholder="New password" formControlName="newPassword">
							<mat-error *ngIf ="newPassword.touched && newPassword.hasError('required')">Password is required</mat-error>
						</mat-form-field>
						
						<mat-form-field>
							<input type="password" matInput placeholder="New Password Confirmation" formControlName="newPasswordConfirm">
							<mat-error *ngIf ="newPasswordConfirm.touched && changePasswordForm.hasError('passwordsNotMatching')">Passwords not matching</mat-error>
						</mat-form-field>
						
						<mat-hint *ngIf="!changePasswordForm.valid"><small>Please set password correctly</small></mat-hint>
						
						<div class="button">
							<button mat-button type="submit" [disabled]="!changePasswordForm.valid">Change password</button>
						</div>
					</form>
				</mat-card-content>
			</mat-card>
		</div>

		<!-- Messages -->
		<div #messages class="message message-container">
			<span *ngFor="let message of (messagesPaginate$ | async)?.items">
				<app-chat-message [message]="message"></app-chat-message>
			</span>
		</div>

		<!-- Add Message -->
		<div style="position: absolute; bottom: 0; display: flex; flex-direction: row; align-items: center;">
			<mat-form-field style="width: 350px;">
				<input matInput [formControl]="chatMessage" type="text" (keyup.enter)="sendMessage()">
			</mat-form-field>
			<button mat-button [disabled]="!chatMessage.valid || !chatMessage.value" (click)="sendMessage()">
				<span style="display: flex; flex-direction: row; align-items: center;">
					<mat-icon style="margin-left: 20px;">send</mat-icon>
					<p style="margin-left: 10px;">Send</p>
				</span>
			</button>
		</div>
	</div>
</div>
<ng-template #no_chatroom_selected>
	<mat-error>No Chatroom Selected</mat-error>
</ng-template>