<body>
	<section>
	<div class="score">
		{{game.p1Score}} : {{game.p2Score}}
	</div>
	<div class="container">
		<div class="card">
			<div class="content">
				<div class="imgBx">
					<img [src]="defaultAvatarUrl" width="30px">
				</div>
				<div class="contentBx">
					<h3>{{player1.username}}<br>
						<span>Score: {{player1.score}}</span><br>
						<span>Wins: {{player1.wins}} | Lost: {{player1.lost}}</span><br>
					</h3>
				</div>
			</div>
		</div>
		<div class="game">
			<canvas #myCanvas id="canvas" width="800" height="800"></canvas>
		</div>
		<div class="card">
			<div class="content">
				<div class="imgBx">
					<img [src]="defaultAvatarUrl" width="30px">
				</div>
				<div class="contentBx">
					<h3>{{player2.username}}<br>
						<span>Score: {{player2.score}}</span><br>
						<span>Wins: {{player2.wins}} | Lost: {{player2.lost}}</span><br>
					</h3>

				</div>
			</div>
		</div>
	</div>
	</section>
</body>
